# ==========================================
# Variables para el Backend (Spring WebFlux)
# ==========================================
SERVER_PORT=puerto del_backend

# URL de Supabase (ej. https://tu_id_proyecto.supabase.co)
SUPABASE_URL=https://tu_id_proyecto.supabase.co
# Clave de Supabase (ej. tu_anon_o_service_role_key)
SUPABASE_KEY=tu_anon_o_service_role_key